Django==4.2.0
djangorestframework==3.14.0
django-cors-headers==4.0.0
python-decouple==3.8
firebase-admin==6.1.0
gunicorn==20.1.0
# psycopg2-binary==2.9.6
# Pillow==9.5.0
# pymongo[srv]
youtube-transcript-api==0.6.2
yt-dlp>=2024.3.10
openai>=1.0.0
google-cloud-texttospeech
gTTS
psycopg2-binary>=2.9.0
dj-database-url>=2.0.0
